$dark-background: #2E3440;
$light-background: #3B4252;
$blue-background: #5E81AC; 
$text-color: #D8DEE9;      
$muted-text: #81A1C1;      
$highlight: #88C0D0;       

* { 
  all: unset; 
  font-family: "JetBrains Mono Nerd Font"; 
  color: $text-color; 
  font-size: 20px; 
}

.calendar-box {
  background-color: $light-background;
  border-radius: 15px;
  padding: 10px;
  font-weight: bold;
  margin: 0;
}

.calendar {
  background-color: $light-background;
  padding: 10px;
  border-radius: 15px;
  margin: 0;
}

calendar {
  color: $text-color;
  padding: 5px;
}

calendar:selected {
  color: $blue-background;
  font-weight: bold;
}

calendar.header {
  background-color: $dark-background;
  color: $text-color;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  font-weight: bold;
}

calendar.button {
    color: transparent;
    background-color: transparent;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
}

calendar.highlight {
  color: $highlight;
  padding: 10px;
}

calendar:indeterminate {
  color: $muted-text;
}

calendar.button:hover {
  background-color: $blue-background;
  color: $dark-background;
}

calendar.view.day {
  background-color: $blue-background;
  color: $dark-background;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  font-weight: bold;
}

calendar.view.day:selected {
  background-color: $highlight;
  color: $dark-background;
  font-weight: bold;
}

calendar.view {
  background-color: $light-background;
  color: $text-color;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  font-weight: bold;
}

calendar.view:selected {
  background-color: $blue-background;
  color: $dark-background;
  font-weight: bold;
}
