* {
    border: none;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    color: #FAFDFF;
    min-height: 16px;
}

window#waybar 
{
    background: transparent;
}

#tooltip 
{
    opacity: 0.9;
    background: #24323a;
    border-radius: 14px;
    border-width: 2px;
    border-style: solid;
}

#workspaces
{
    border-radius: 24px;
    margin: 0;
    margin-top: 8px;
    margin-left: 10px;
    background-color: #434c5e;
}

#workspaces button
{
    min-width: 10px;
    border-radius: 20px;
    margin: 6px 0px;
}

#workspaces button:not(:last-child)
{
    margin: 0px;
}

#workspaces button:hover 
{
    background: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
    transition: none;
    margin: 6px 0px;
    min-width: 10px;
    border-radius: 20px;
}

#workspaces button.active,
#workspaces button.active:hover 
{
    background: #9CCFFF;
    color: #0d1117;
    min-width: 22px;
    margin: 6px 4px;
}

#window
{
    border-radius: 18px;
    padding: 0px 10px;
    margin-top: 8px;
    background: #434c5e;
}

#clock
{
    background: #434c5e;
    opacity: 1;
    padding: 0px 10px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 24px;
}

#cpu
{
    background: #434c5e;
    opacity: 1;
    padding: 0px 10px 0px 12px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 24px 0px 0px 24px;
}

#memory
{
    background: #434c5e;
    opacity: 1;
    padding: 0px 2px 0px 10px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
}

#network
{
    background: #434c5e;
    font-size: 20px;
    opacity: 1;
    padding: 0px 8px 0px 10px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
}

#bluetooth
{
    background: #434c5e;
    font-size: 20px;
    opacity: 1;
    padding: 0px 8px 0px 16px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
}

#custom-updates
{
    background: #434c5e;
    opacity: 1;
    padding: 0px 14px 0px 10px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 10px;
    border-radius: 24px;
}

#backlight
{
    background: #434c5e;
    font-size: 20px;
    opacity: 1;
    padding: 0px 12px 0px 10px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
}

#battery
{
    background: #434c5e;
    font-size: 20px;
    opacity: 1;
    padding: 0px 8px 0px 10px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px;
}

#pulseaudio
{
    background: #434c5e;
    font-size: 20px;
    opacity: 1;
    padding: 0px 20px 0px 10px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 24px 24px 0px;
}
