* {
	font-family:  "JetBrainsMono Nerd Font", monospace;
}

window {
	background-color: #3B4252;
  border-style: solid;
  border-width: 2px;
  border-top-color: #5E81AC;
  border-left-color: #5E81AC;
  border-right-color: #8FBCBB;
  border-bottom-color: #81A1C1;
  border-radius: 3px;
}

#input {
	margin: 5px;
	border-radius: 0px;
	border: none;
	background-color: #3B4252;
	color: white;
}

#inner-box {
	background-color: #383C4A;
}

#outer-box {
	margin: 2px;
	padding: 10px;
	background-color: #383C4A;
}

#scroll {
	margin: 5px;
}

#text {
	padding: 4px;
	color: #88C0D0;
}

#entry:nth-child(even){
	background-color: #404552;
}

#entry:selected {
	background-color: #8FBCBB;
}

#entry:selected #text {
  color: black;
}

#text:selected {
	background: transparent;
}
